<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'maid' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearchBox()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
  <ion-card *ngIf="downloadURL">
    <div class="container" >
      <img [src]="downloadURL" (click)="openCompanyByUrl(downloadURL)">
    </div>
  </ion-card>
  <ion-row>
    <ion-col *ngIf="maids==''" col-12 no-padding>
      <ion-card>
        <ion-item>
          <div [ngStyle]="{'font-size': '14px'}" class="greyOnMsg">
            {{ 'noResult' | translate }}
          </div>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngFor="let maid of maids; let i = index" (click)="openModal(i)" col-12 no-padding>
      <ion-card *ngIf="maid.isEmployed=='N'">
        <ion-item>

          <ion-row>
            <ion-col col-4 no-padding><img class="countryFlagImage" src="{{'../../assets/imgs/' + maid.country.toLowerCase() + '.png'}}" /></ion-col>

            <ion-col col-8 no-padding>
              <h4 [ngStyle]="{'font-size': '18px'}">{{maid.name}}, {{maid.age}}</h4>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 no-padding>
              <ion-row>
                <ion-avatar class="avatars">
                  <img src="{{maid.imgUrl}}">
                </ion-avatar>
              </ion-row>
            </ion-col>

            <ion-col col-8 no-padding>
                <ion-row style="height:6px;">
                  &nbsp;
                </ion-row>
                <ion-row>
                    <ion-col col-4 no-padding><h6 [ngStyle]="{'font-size': '14px'}">{{ 'exp' | translate }}:</h6></ion-col>
                    <ion-col col-8 no-padding><h6 [ngStyle]="{'font-size': '14px'}">{{maid.working_exp_yr}} {{ 'years' |translate }}</h6></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4 no-padding><h6 [ngStyle]="{'font-size': '14px'}">{{ 'fee' | translate }}:</h6></ion-col>
                    <ion-col col-8 no-padding><h6 [ngStyle]="{'font-size': '14px'}">{{ 'hkd' | translate }}($) {{maid.fee |
                        translate}} {{ 'approx' | translate }}</h6></ion-col>
                </ion-row>
                <ion-row >
                  <ion-col col-4 no-padding >
                    <h6 [ngStyle]="{'font-size': '14px'}">{{ 'lang' | translate }}:</h6>
                  </ion-col>
                
                  <ion-col  no-padding *ngFor="let lang of split(maid.language)" pull-0> 
                    <h6 [ngStyle]="{'font-size': '14px'}">{{lang | translate}}</h6>
                  </ion-col>
                </ion-row>
             
            </ion-col>
          </ion-row>

        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>