page-maid {
    .avatars {
        height: 100%;
        width: 100%;
        padding-top: 3px;
        img{
            padding-top: 0px;
            margin: auto;
            width: 60px;
            height: 60px;
            object-fit: cover;
            box-shadow: 0 0 8px #52B6BC;
        }
    }
    .avatars-detail {
            padding-top: 5px;
    img{
        margin: auto;
        width: 120px;
        height: 120px;
        object-fit: cover;
        box-shadow: 0 0 8px #52B6BC;
    }
}

    .detail_font{
        font-size: 15px;
    }

    .countryFlagImage {
    //  height: 20vw; 
    //  width: 20vw; 
    width: 30px; 
    height: 15px;
    border: 0px solid #fff;
    // border-radius: 100%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    }
    

    .center{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    background-color: #52B6BC;
   -webkit-text-fill-color: #fff;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    }
    .gridFooter {
        padding: 0px;
        border: none;
    }
}
