page-maid {
    

    .show-qr-scanner {
        display: none;
      }
      
ion-row{
    ion-card{
            // width:100%;
            // margin-left:0 !important;
            // margin-right:0 !important;

            margin-bottom: 0 !important;
            ion-card-content{
                padding: 0 !important; 
            }
        }
   }

    .avatars {
        height: 100%;
        width: 100%;
        padding-bottom: 6px;
        img{
            padding-top: 0px;
            margin: auto;
            width: 60px;
            height: 60px;
            object-fit: fill;
            box-shadow: 0 0 8px #52B6BC;
        }
    }

    .avatars-detail{
        border-radius: 8px;
        width: auto;
        height: auto;
        box-shadow: 0 0 8px #52B6BC;
    }

    .detail_font{
        font-size: 15px;
    }

    .countryFlagImage {
    //  height: 20vw; 
    //  width: 20vw; 
    width: 30px; 
    height: 15px;
    border: 0px solid #fff;
    // border-radius: 100%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    }
    

    .center{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    background-color: #52B6BC;
   -webkit-text-fill-color: #fff;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    }
    .gridFooter {
        padding: 0px;
        border: none;
    }

     
}
