<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Maid
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-card>
      <div class="container" *ngIf="downloadURL | async; let url">
          <img [src]="url" alt="Image from AngularFireStorage">
      </div>
    </ion-card>

    <ion-row>
      <ion-col *ngFor="let maid of maids$ | async; let i = index" (click)="openModal(i)" col-6 no-padding>
        <ion-card>
          <ion-item center>
            <ion-avatar class="avatars">
              <img src="../../assets/imgs/maid1.jpeg">
            </ion-avatar>
            <br>
            <h2>{{maid.name}}</h2>
            <h3>Age: {{maid.age}}</h3>
            <h3>{{maid.working_exp_yr}} years Exp</h3>
          </ion-item>
        </ion-card>
        </ion-col>
      </ion-row>

</ion-content>
