page-maid {
    .avatars {
        height: 100%;
        width: 100%;
        padding-top: 5px;
        img{
            margin: auto;
            width: 50px;
            height: 50px;
            object-fit: cover;
            box-shadow: 0 0 8px #52B6BC;
        }
    }
    .avatars-detail {
            padding-top: 5px;
    img{
        margin: auto;
        width: 80px;
        height: 80px;
        object-fit: cover;
        box-shadow: 0 0 8px #52B6BC;
    }
}
    .grey{
        color:grey;
    }

    .detail_font{
        font-size: 15px;
    }
    
}
