page-searchBox {
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .search-form {
        border-radius: 5px;
        background-color: #FFF;
        padding: 20px;
        margin-left:auto;
        margin-right:auto;
    }
    .skillTag {
        background: #bbb;
        margin-right: 7px;
        color: #fff;
        padding: 4px 7px;
        border-radius: 20px;
    }

    .skillTag_clicked {
        background: rgb(214, 16, 188);
        margin-right: 7px;
        color: #fff;
        padding: 4px 7px;
        border-radius: 20px;
    }

    .range-md .range-knob-handle .range-pin {
        transform: translate3d(0, 0, 0) scale(1); }
      
    .range-md:not(.range-has-pin) .range-knob-handle .range-knob {
    transform: scale(1); }
    
    .range-ios .range-knob-handle .range-pin {
    transform: translate3d(0, 0, 0) scale(1); }
}
