page-companyInfo {
  h3 {
    text-align: center;
  }

  .item.wrap,
  .item-content.wrap {
    white-space: normal;
  }

  .services_header_padding{
      padding: 10px;
  }

  .gridFooter {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
    }
}
