<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'appName' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item *ngIf="userProfile">
    <ion-avatar item-left>
      <img [src]="userProfile.photoURL">
    </ion-avatar>
    <h2>{{ userProfile.displayName }}</h2>
    <h3>{{ userProfile.email }}</h3>
  </ion-item>

  <h5>{{ 'bestCompany' | translate }}</h5>
  <!-- <ion-slides slidesPerView="2.2">
    <ion-slide *ngFor="let company of companies$ | async; let i = index" (click)="redirectToMaid(i)" class="card-slide" style="width:20%">
    
      <img class="card-img" src="{{company.imgUrl}}" />

    </ion-slide>
  </ion-slides>
 -->

  <ion-slides slidesPerView="2.2">
    <ion-slide *ngFor="let company of companys; let i = index" (click)="redirectToMaid(i)" class="card-slide"
      style="width:20%">
      <!-- <h1 [ngStyle]="{'font-size': '15px'}">{{company.name}}</h1> -->
      <img class="card-img" src="{{company.imgUrl}}" />
  
    </ion-slide>
  </ion-slides>



  <h5>{{ 'bestChoice' | translate }}</h5>
  <h6>{{ 'philippines' | translate }}</h6>
  <ion-slides slidesPerView="2.75">
    <ion-slide *ngFor="let maid of maids_ph; let i = index" (click)="openPhMaidModal(i)" style="width:20%">
      <div>
        <div>
          <div class="avatars">
            <img src="{{maid.imgUrl}}">
          </div>

        </div>
        <!-- <div>
            <h4 [ngStyle]="{'font-size': '15px'}"><img class="countryFlagImage" src="{{'../../assets/imgs/' + maid.country.toLowerCase() + '.png'}}" />
              {{maid.name}}, {{maid.age}}</h4>
        </div> -->

      </div>


    </ion-slide>
  </ion-slides>


  <h6>{{ 'indonesia' | translate }}</h6>
  <ion-slides slidesPerView="2.75">
    <ion-slide *ngFor="let maid of maids_in; let i = index" (click)="openInMaidModal(i)" style="width:20%">
      <div>
        <div>
          <div class="avatars">
            <img src="{{maid.imgUrl}}">
          </div>

        </div>
        <!-- <div>
                  <h4 [ngStyle]="{'font-size': '15px'}"><img class="countryFlagImage" src="{{'../../assets/imgs/' + maid.country.toLowerCase() + '.png'}}" />
                    {{maid.name}}, {{maid.age}}</h4>
              </div> -->
      </div>

    </ion-slide>
  </ion-slides>
  <br>

  <div align="center">
    <button class="buttonStyle" (click)="redirectToMaidFrCountry('Philippines')">
      <ion-img class="button-img" width="49" height="49" src="../../assets/icon/Philippines.ico"></ion-img>
      <h4 [ngStyle]="{'font-size': '10px'}">{{ 'philippines' | translate }}</h4>
    </button>
    <button class="buttonStyle" (click)="redirectToMaidFrCountry('Indonesia')">
      <ion-img class="button-img" width="51" height="51" src="../../assets/icon/Indonesia.ico"></ion-img>
      <h4 [ngStyle]="{'font-size': '10px'}">{{ 'indonesia' | translate }}</h4>
    </button>

    <button class="buttonStyle" (click)="redirectToMaidFrCountry('Mynamay')">
      <ion-img class="button-img" width="53" height="53" src="../../assets/icon/mynamay.ico"></ion-img>
      <h4 [ngStyle]="{'font-size': '10px'}">{{ 'mynamay' | translate }}</h4>
    </button>

    <button class="buttonStyle" (click)="redirectToMaidFrCountry('Other')">
      <ion-img class="button-img" width="47" height="47" src="../../assets/icon/other.ico"></ion-img>

      <h4 [ngStyle]="{'font-size': '10px'}">{{ 'others' | translate }}</h4>
    </button>
  </div>
  <br>

</ion-content>