page-home {

.avatars img{
        margin: auto;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .avatars-detail img{
        margin: auto;
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    h3{
        text-align:center;
    }

    .slides{
     background-color: rgba(255,255,255,0.0);
     text-align: center;
     height:228px;
    //  width:10px;
}
}
