<ion-header no-border>
  <ion-navbar no-padding color="white" style="border-bottom: 1px solid #52B6BC;">
    <br />
    <br />
    <ion-title>
        <img style="width:65px;" src="../../assets/imgs/domper_icon.png"/>
        <img style="width:105px;" src="../../assets/imgs/domper_word.png"/>
    </ion-title>
    <br />
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item *ngIf="userProfile">
    <ion-avatar item-left>
      <img [src]="userProfile.photoURL">
    </ion-avatar>
    <h2>{{ userProfile.displayName }}</h2>
    <h3>{{ userProfile.email }}</h3>
  </ion-item>


  <!-- <ion-slides slidesPerView="2.2">
    <ion-slide *ngFor="let company of companies$ | async; let i = index" (click)="redirectToMaid(i)" class="card-slide" style="width:20%">
    
      <img class="card-img" src="{{company.imgUrl}}" />

    </ion-slide>
  </ion-slides>
 -->
  <h6>🔥 熱門公司</h6>
  <ion-slides slidesPerView="2.1">
    <ion-slide *ngFor="let company of companys; let i = index" (click)="redirectToMaid(i)" class="card-slide">
      <!-- <h1 [ngStyle]="{'font-size': '15px'}">{{company.name}}</h1> -->
      <div class="card-div">
        <img class="card-img" src="{{company.imgUrl}}" />
      </div>
    </ion-slide>
  </ion-slides>
  <!-- <ion-row >
    <ion-col>
      <button class="buttonStyle" (click)="redirectToMaidFrCountry('Philippines')">
        <ion-img class="button-img" width="48" height="48" src="../../assets/icon/Philippines.ico"></ion-img>
      </button>
    </ion-col>

    <ion-col>
      <button class="buttonStyle" (click)="redirectToMaidFrCountry('Indonesia')">
        <ion-img class="button-img" width="50" height="50" src="../../assets/icon/Indonesia.ico"></ion-img>
      </button>
    </ion-col>

    <ion-col>
      <button class="buttonStyle" (click)="redirectToMaidFrCountry('Mynamay')">
        <ion-img class="button-img" width="52" height="52" src="../../assets/icon/mynamay.ico"></ion-img>
      </button>
    </ion-col>

    <ion-col>
      <button class="buttonStyle" (click)="redirectToMaidFrCountry('Other')">
        <ion-img class="button-img" width="44" height="44" src="../../assets/icon/other.ico"></ion-img>
      </button>
    </ion-col>

  </ion-row> -->

  <!-- <ion-row>
    <ion-col>
      <h4 [ngStyle]="{'font-size': '10px'}">{{ 'philippines' | translate }}</h4>
    </ion-col>
    <ion-col>
      <h4 [ngStyle]="{'font-size': '10px'}">{{ 'indonesia' | translate }}</h4>
    </ion-col>
    <ion-col>
      <h4 [ngStyle]="{'font-size': '10px'}">{{ 'mynamay' | translate }}</h4>
    </ion-col>
    <ion-col>
      <h4 [ngStyle]="{'font-size': '10px'}">{{ 'others' | translate }}</h4>
    </ion-col>
  </ion-row> -->
<h6>🏃🏻 公司地區</h6>

    <ion-slides slidesPerView="4.8">
        <ion-slide class="region-label" >
          {{ 'hongKongIsland' | translate }}
        </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('centralWestern')">
        {{ 'centralWestern' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('wanchai')">
        {{ 'wanchai' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('eastern')">
        {{ 'eastern' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('southern')">
        {{ 'southern' | translate }}
      </ion-slide>
      <ion-slide >
      </ion-slide>

    </ion-slides>



    <ion-slides slidesPerView="4.8">
      <ion-slide class="region-label">
        {{ 'kowloon' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('kowloonCity')">
        {{ 'kowloonCity' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('wongTaiSin')">
        {{ 'wongTaiSin' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('kuwnTong')">
        {{ 'kuwnTong' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('yauTsimMong')">
        {{ 'yauTsimMong' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('shamShuiPo')">
        {{ 'shamShuiPo' | translate }}
      </ion-slide>
      <ion-slide >
      </ion-slide>

    </ion-slides>

    <ion-slides slidesPerView="4.8" >
      <ion-slide class="region-label">
        {{ 'newTerritories' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('tsuenWan')">
        {{ 'tsuenWan' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('kwaiTsing')">
        {{ 'kwaiTsing' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('saiKung')">
        {{ 'saiKung' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('shatin')">
        {{ 'shatin' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('taiPo')">
        {{ 'taiPo' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('northern')">
        {{ 'northern' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('tuenMun')">
        {{ 'tuenMun' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('yuenLong')">
        {{ 'yuenLong' | translate }}
      </ion-slide>
      <ion-slide class="region-slide" (click)="redirectToCompanyByDistrict('islands')">
        {{ 'islands' | translate }}
      </ion-slide>
      <ion-slide >
      </ion-slide>

    </ion-slides>

 

  <h6>🇵🇭 {{ 'philippines' | translate }}</h6>
  <ion-slides slidesPerView="2.75">
    <div *ngFor="let maid of maids_ph; let i = index" (click)="openPhMaidModal(i)" >
      <ion-slide  *ngIf="maid.isEmployed=='N'" style="width:20%">
        <div>
          <div [ngStyle]="{'font-size': '16px'}" class="grey">
            <div class="avatars">
              <img src="{{maid.imgUrl}}">
            </div>
            {{maid.working_exp_yr}} {{ 'years' | translate }} {{ 'exps' | translate }}
          </div>
        </div>
      </ion-slide>
    </div>
  </ion-slides>


  <h6>🇲🇨 {{ 'indonesia' | translate }}</h6>
  <ion-slides slidesPerView="2.75">
    <div *ngFor="let maid of maids_in; let i = index" (click)="openInMaidModal(i)" >
      <ion-slide *ngIf="maid.isEmployed=='N'" style="width:20%">
        <div>
          <div [ngStyle]="{'font-size': '16px'}" class="grey">
            <div class="avatars">
              <img src="{{maid.imgUrl}}">
            </div>
              {{maid.working_exp_yr}} {{ 'years' | translate }} {{ 'exps' | translate }}
          </div>
        </div>

      </ion-slide>
    </div>
  </ion-slides>
  <br>



</ion-content>