page-home {

    .avatars{
        height: 100%;
        width: 100%;
        padding-top: 3px;
        img{
            padding-top: 0px;
            margin: auto;
            width: 60px;
            height: 60px;
            object-fit: cover;
            box-shadow: 0 0 8px #52B6BC;
        }   
    }
    .avatars-detail {
    
        // height: 100%;
        // width: 100%;
        padding-top: 5px;
        img{
            margin: auto;
            // width: 60px;
            // height: 60px;
            object-fit: cover;
            box-shadow: 0 0 8px gray;
        }
    }

    h3{
        text-align:center;
    }

    .slides{
     background-color: rgba(255,255,255,0.0);
     text-align: center;
     height: auto;
     width: auto;
    }

    .image {
    //  height: 20vw; 
    //  width: 20vw; 
    width: 30px; 
    height: 15px;
    border: 0px solid #fff;
    // border-radius: 100%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    }

    //Style for Company Banner
    .card-img {
        border-radius: 10px;
    }

    .card-slide {
        padding: 5px; 
        opacity: 1.0;    //Can be used to adjust the opacity
    }  
}
