<ion-header>
  <ion-navbar color="primary">
    <ion-title>Domper</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <P>Country</P>

  <button class="buttonStyle">
    <ion-img class="button-img" width="50" height="50" src="../../assets/icon/Philippines.ico"></ion-img>
  </button>
  <button class="buttonStyle">
    <ion-img class="button-img" width="50" height="50" src="../../assets/icon/Indonesia.ico"></ion-img>
  </button>
  <button class="buttonStyle">
    <ion-img class="button-img" width="50" height="50" src="../../assets/icon/Philippines.ico"></ion-img>
  </button>

  <br>

  <ion-slides autoplay="5000" loop="true" speed="2000">
    <ion-slide *ngFor="let slide of image">
      <button class="buttonStyle">
        <ion-img class="button-img" width="50" height="50" src={{slide.image}}></ion-img>
      </button>
    </ion-slide>
  </ion-slides>


  <ion-slides autoplay="5000" loop="true" speed="2000">
    <ion-slide *ngFor="let slide of companyInfo">
      <h1>{{slide.data}}</h1>
    </ion-slide>
  </ion-slides>

  <br>

  <ion-slides autoplay="5000" loop="true" speed="1500">
    <ion-slide *ngFor="let slide of pMaidInfo">
      <h1>{{slide.data}}</h1>
    </ion-slide>
  </ion-slides>


  <br>
  <ion-slides autoplay="5000" loop="true" speed="1500">
    <ion-slide *ngFor="let slide of iPaidInfo">
      <h1>{{slide.data}}</h1>
    </ion-slide>
  </ion-slides>

  <br>




  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the
    <code>src/pages/</code> directory to add or change tabs, update any existing page or create new pages.
  </p>
</ion-content>