// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
h2 {
    color: #5C272D;
    text-align: center;
}

.slides{
     background-color: rgba(255,255,255,0.0);
     text-align: center;
     height:100px;
    //  width
}

.slide{
     background-color: rgba(255,255,255,0.0);
     text-align: center;
     height:100px;
     width: 100px;
}

.buttonStyle{
    background: rgba(255,255,255,0.0);
    color: rgba(255,255,255,0.0);
}

.button-img {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background: rgba(255,255,255,0.0);
    contain: strict;
}



.slide_style{
    width : 328px;
  
}
// Hidden Scroll bar
// ::-webkit-scrollbar,
// *::-webkit-scrollbar {
//   display: none;
// }

@font-face {
  font-family: 'Humanst';
  src: url('../assets/fonts/roboto-light.woff2') format('woff2'), url('../assets/fonts/roboto-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Humanst';
}