<!-- Generated template for the GoogleLoginComponent component -->

<div *ngIf="enableLogin()">

  <ion-item no-margin [ngStyle]="{'font-size': '14px'}">
    <div >
      <button class="loginBtn loginBtn--google" (click)="googleLogin()">
        {{ 'google' | translate }}
      </button>
    </div>
    <div>
      <button class="loginBtn loginBtn--facebook" (click)="facebookLogin()">
        {{ 'facebook' | translate }}
      </button>
    </div>
  </ion-item>
</div>


<div *ngIf="!enableLogin()">
  <button ion-button (tap)="signOut()">Sign Out</button>
  <ion-item>
    My User ID is: {{userId}}
  </ion-item>
</div>
<!-- <button ion-button (tap) = "googleLogin2()">
      Native Login with Google
  </button>
    -->
<!-- <button ion-button (tap) = "signOut()">
    Signout
  </button> -->