<!-- Generated template for the GoogleLoginComponent component -->

<div *ngIf="enableLogin()">

  <ion-item no-margin [ngStyle]="{'font-size': '14px'}">
    <div>
      <button class="loginBtn loginBtn--google" (click)="googleLogin()">
        {{ 'google' | translate }}
      </button>
    </div>
    <div>
      <button class="loginBtn loginBtn--facebook" (click)="facebookLogin()">
        {{ 'facebook' | translate }}
      </button>
    </div>
  </ion-item>
</div>


<div *ngIf="!enableLogin()">

  <ion-item>
    <ion-row>
      <ion-col>
        {{userId}}
      </ion-col>
      <ion-col>
        <button ion-button round outline class="center" (tap)="signOut()">{{ 'logout' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-item>


</div>
<!-- <button ion-button (tap) = "googleLogin2()">
      Native Login with Google
  </button>
    -->
<!-- <button ion-button (tap) = "signOut()">
    Signout
  </button> -->