<ion-header>
  <ion-navbar color="primary">
    <ion-title> {{ "setting" | translate }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <h4>{{ "personalAcc" | translate }}</h4>
  <ion-card>
    <div *ngIf="enableLogin()">
      <form class="form" [formGroup]="loginForm"(ngSubmit)="tryLogin(loginForm.value)">
        <ion-list inset>
          <ion-item>
            <h6>{{ "loginAcc" | translate }}</h6>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="{{ 'email' | translate }}" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="{{ 'password' | translate }}" formControlName="password" class="form-controll"></ion-input>
          </ion-item>
        </ion-list>

        <div padding-horizontal>
          <div><label class="error-message">{{errorMessage}}</label></div>

          <button ion-button round full type="submit">{{ "login" | translate }}</button> 
          <div class="login-footer" (click)="redirectToResetPwd()">
            <p class="grey"><u>{{ "forgetPassword" | translate }}</u></p>
          </div>
        </div>
      </form>

      <button ion-button round block clear (click)="signup()">
        <ion-icon name="person-add"></ion-icon>
        {{ "regPage" | translate }}
      </button>

      <div padding-horizontal>
        <ion-list>
          <ion-item no-margin [ngStyle]="{ 'font-size': '14px' }">
            <div *ngIf="showGoogle=='Y'">
              <button class="loginBtn loginBtn--google" (click)="googleLogin()">
                {{ "google" | translate }}
              </button>
            </div>

            <div>
              <button class="loginBtn loginBtn--facebook" (click)="facebookLogin()">
                {{ "facebook" | translate }}
              </button>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div *ngIf="!enableLogin()">
      <ion-item>
        <ion-row>
          <ion-col>
          <div [ngStyle]="{ 'font-size': '14px' }" class="grey">
            {{ "hi" | translate }}  {{ userName }}
          </div> 
            <button ion-button round outline class="center" (tap)="signOut()">
              {{ "logout" | translate }}
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-card>

  <ion-list>
    <ion-item [ngStyle]="{ 'font-size': '14px' }" class="grey">
      <ion-label>{{ "language" | translate }}</ion-label>
      <ion-select
        [(ngModel)]="language"
        (ionChange)="changeLanguage()"
        okText="{{ 'ok' | translate }}"
        cancelText="{{ 'cancel' | translate }}"
      >
        <ion-option value="en">{{ "english" | translate }}</ion-option>
        <ion-option value="cht">{{ "chinese" | translate }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-item
      [ngStyle]="{ 'font-size': '14px' }"
      class="grey"
      (click)="redirectToQuestion()"
    >
      <ion-label>{{ "problem" | translate }}</ion-label>
      <ion-icon
        item-end
        class="fa fa-question"
        aria-hidden="true"
        item-start
        small
        color="primary"
      ></ion-icon>
    </ion-item>
    <ion-item
      [ngStyle]="{ 'font-size': '14px' }"
      class="grey"
      (click)="redirectToAboutDomper()"
    >
      <ion-label>{{ "aboutDomper" | translate }}</ion-label>
      <ion-icon
        item-end
        class="fa fa-newspaper-o"
        aria-hidden="true"
        item-start
        small
        color="primary"
      ></ion-icon>
    </ion-item>
    <ion-item
      [ngStyle]="{ 'font-size': '14px' }"
      class="grey"
      (click)="sendEmail()"
    >
      <ion-label>{{ "contactUs" | translate }}</ion-label>
      <ion-icon
        item-end
        class="fa fa-share"
        aria-hidden="true"
        item-start
        small
        color="primary"
      ></ion-icon>
    </ion-item>
    <ion-item
      [ngStyle]="{ 'font-size': '14px' }"
      class="grey"
      (click)="redirectToTermsAndConditions()"
    >
      <ion-label>{{ "terms" | translate }}</ion-label>
      <ion-icon
        item-end
        class="fa fa-bars"
        aria-hidden="true"
        item-start
        small
        color="primary"
      ></ion-icon>
    </ion-item>
    <ion-item
      [ngStyle]="{ 'font-size': '14px' }"
      class="grey"
      (click)="redirectToPrivatePolicyPage()"
    >
      <ion-label>{{ "privacy" | translate }}</ion-label>
      <ion-icon
        item-end
        class="fa fa-bars"
        aria-hidden="true"
        item-start
        small
        color="primary"
      ></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
